div.surface{
  z-index: -10;
  height: 526px;
  width: 780px;
  background-image: url("http://www.redorbit.com/media/uploads/2013/12/Mars-Surface-Atmosphere_SS_121013.jpg");
  background-repeat: no-repeat;
  position: absolute;
  border: 15px rgb(215, 140, 27); 
  border-style: groove;
}

div.ship {
height: 60px;
width: 90px;
background-image: url("https://thomasnaylor.files.wordpress.com/2011/05/landeranim.gif?w=460");
background-repeat: no-repeat;
background-size: 60px 60px;
position: absolute;
top: 80px;
z-index: 10;
float: right;
margin: 5px;

/*-webkit-animation-name: spriteOne;
-webkit-animation-duration: 5s;
animation-name: spriteOne;
animation-duration: 5s;*/
}

div.destroyed {
  background-image: url("http://rs523.pbsrc.com/albums/w356/unkadug/explosion-1.gif~c200");
  background-repeat: no-repeat;
}


#button {
  position: relative;
  top: 100%;
  width: 100px;
  height: 20px;
  background: red;
  color: white;
  margin: 0 auto;
  text-align: center;
  left: 40%;
}
#button {
	-moz-box-shadow: 0px 6px 0px 0px #8a2a21;
	-webkit-box-shadow: 0px 6px 0px 0px #8a2a21;
	box-shadow: 0px 6px 0px 0px #8a2a21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#c62d1f;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
#button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24437;
}
#button:active {
	position:relative;
	top:1px;
}
